body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Chrome, Safari, Edge, Opera */
input.removeArrows::-webkit-outer-spin-button,
input.removeArrows::-webkit-inner-spin-button,
.removeArrows input::-webkit-outer-spin-button,
.removeArrows input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.removeArrows[type="number"],
.removeArrows input[type="number"] {
  -moz-appearance: textfield;
}

/* Overrides */
.mainPage .page-header-actions button.button-regular#object_browser {
  display: none !important;
}

.parentBox .menuBox .menuContainer .menuHeaderContainer .menuLogoContainer {
  height: 100px !important;
  margin-top: 100px !important;
  border-bottom: 1px solid #7c0000 !important;
}

.parentBox .menuBox.collapsed {
  z-index: 3 !important;
}

.parentBox .menuBox .menuContainer .menuHeaderContainer .menuLogoContainer > svg {
  display: none !important;
}

.parentBox .menuBox .menuContainer .menuHeaderContainer .collapseButton {
  z-index: 10 !important;
}

.parentBox .menuBox {
  background: linear-gradient(90deg, #b70000 0%, #9a0000 50%, #7c0000 100%) !important;
}

.menuBox .menuItems .httUSP.selected, .httUSP:hover {
  background: linear-gradient(90deg, rgba(183, 0, 0, 0) 0%, #7c0000 100%) !important;
}

.menuBox .menuItems .menuHeader {
  border-bottom: 1px solid #7c0000 !important;
}

.httUSP .iconContainer {
  background-color: #8a0000 !important;
}

.collapsed .collapsedMenuHeader {
  background: #8a0000 !important;
}