.promoContainer {
  padding: 20px;
  border-radius: 8px;
  margin: 20px;
}

.promoHeader {
  color: #333;
  margin-bottom: 15px;
  text-align: right !important;
}

.promoInfo {
  line-height: 1.5;
  text-align: right !important;
  max-width: inherit !important;
}

.promoInfo span {
  color: white !important;
  text-align: right !important;
  font-size: 24px !important;
}

.promoInfo a {
  color: blue;
  text-decoration: none;
}

.promoInfo a:hover {
  text-decoration: underline;
}

#alternativeMethods-select {
  display: none !important;
}

.logoContainer svg {
  display: none !important;
}

.logoContainer::after {
  content: "";
  display: block;
  background: url('../../assets/images/ata-logo.png') no-repeat center center;
  background-size: contain;
  width: 230px;
  height: 60px;
  margin: 0 auto;
  transform: scale(1.5);
}